[submodule "i3blocks-contrib"]
	path = i3blocks-contrib
	url = git@github.com:vivien/i3blocks-contrib.git
[submodule "i3blocks-misc"]
	path = i3blocks-misc
	url = git@github.com:Anachron/i3blocks.git
